<div class="section cc-subscribe-form">
    <div class="container cc-subscription-form">
        <div class="heading-jumbo-small">Aankomende evenementen</div>
        <div class="paragraph-dark cc-subscribe-paragraph">Zie hier welke aankomende evenementen er zijn bij
            Terra10. Deze evenementen plaatsen we op <a href="https://www.meetup.com/Terra-10-Meetup/events/"
                                                        target="_blank" class="link-2 inline-link">meetup.com</a>
        </div>
        <div class="meetups-container">
            <div class="meetup">
                <div class="date-block">
                    <div class="day-display">19</div>
                    <div class="month-display">Sept</div>
                </div>
                <div class="meetup__content">
                    <div class="meetup__title">Going supersonic with next-gen development using Quarkus!</div>
                    <div class="meetup__description">Come and join Terra10 for a workshop centered on developing and
                        deploying Quarkus applications on Openshift. In this workshop we will create a few Quarkus
                        applications and use Openshifts S2I functionality to create native images which we can run
                        on Openshift.<br></div>
                </div>
            </div>
        </div>
    </div>
</div>