{{!< default}}

<article class="gh-article">

    <header class="gh-header gh-canvas blog">
        <h1 class="gh-title">Onze blogs</h1>
    </header>

    <div class="gh-content gh-canvas">
        <div class="gh-postfeed">
            {{#foreach posts limit=3}}

                {{> "card"}} {{!-- partials/card.hbs --}}

            {{/foreach}}
        </div>
        {{pagination}}
    </div>
</article>
{{> "meetup"}}

