/* Global Footer
/* ---------------------------------------------------------- */

.gh-foot {
    display: flex;
    align-items: center;
    flex-flow:column;
    justify-content: center;
    padding: 0 3rem;
}

.gh-foot .gh-container {
    width: auto;
}

.gh-foot-menu {
    display: flex;
    align-items: center;
    justify-content: center;
}

.gh-foot-menu .nav {
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    list-style: none;
    font-size: 1.8rem;
}

.gh-foot-menu .nav li {
    margin: 0 1.5vmin;
    padding: 0;
}

.gh-foot-meta {
    margin: 2rem 0;
    font-size: 1.5rem;
    text-align: center;
    opacity: 0.5;
}

#footer-logo {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

.logo-link {
    z-index: 1;
}

.logo-link:hover {
    opacity: 0.8;
}

.logo-link:active {
    opacity: 0.7;
}

.links-section-footer {
    margin-top: 40px;
    display: flex;
    flex-flow: column;
}

#menu-header {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

#menu-column {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

#propositions-header {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}

#propositions-column {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}

#affilitates-header {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
}

#affilitates-column {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
}

#follow-header {
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 2;
}

#follow-column {
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 2;
}

.footer-link {
    margin-bottom: 1.5rem;
    opacity: 0.6;
    -webkit-transition: color 200ms ease, opacity 200ms ease;
    transition: color 200ms ease, opacity 200ms ease;
    color: #fff;
    font-size: 1.4rem;
    text-decoration: none;
}

a.footer-link {
    color: #fff;
}

.footer-link:hover {
    opacity: 1;
    color: #fff;
}

.footer-link.w--current {
    color: #fff;
}

@media (max-width: 700px) {
    .gh-foot-menu .nav {
        font-size: 1.6rem;
    }
}

.privacy-footer {
    display: block;
    position: relative;
    width: 120%;
    background-color: #A18455;
}

.bottom-nav {
    display: flex;
    flex-flow: row;
}

ul.bottom-nav {
    padding: 15px 0;
}

.bottom-nav li {
    font-weight: 600;
    font-size: 14px;
    padding-right: 22px;
}

.bottom-nav li a {
    text-decoration: none;
}


.bottom-nav li a:hover {
    text-decoration: underline;
}
