<div class="section cc-subscribe-form">
    <div class="container cc-subscription-form">
        <div class="heading-jumbo-small">Aankomende evenementen</div>
        <div class="paragraph-dark cc-subscribe-paragraph">Zie hier welke aankomende evenementen er zijn bij
            Terra10. Deze evenementen plaatsen we op <a href="https://www.meetup.com/Terra-10-Meetup/events/"
                                                        target="_blank" class="link-2 inline-link">meetup.com</a>
        </div>
        <div class="meetups-container" onclick="window.open('https://www.meetup.com/terra10/events/266562039/', '_blank')">
            <div class="meetup">
                <div class="date-block">
                    <div class="day-display">21</div>
                    <div class="month-display">Jan</div>
                </div>
                <div class="meetup__content">
                    <div class="meetup__title">Codefest Google Firebase</div>
                    <div class="meetup__description">Join us for this hands-on codefest around Google Firebase. More details will be shared during December.
                        <br></div>
                </div>
            </div>
        </div>
    </div>
</div>