<div class="section cc-subscribe-form">
    <div class="container cc-subscription-form">
        <div class="heading-jumbo-small">Aankomende evenementen</div>
        <div class="paragraph-dark cc-subscribe-paragraph">Zie hier welke aankomende evenementen er zijn bij
            Terra10. Deze evenementen plaatsen we op <a href="https://www.meetup.com/Terra-10-Meetup/events/"
                                                        target="_blank" class="link-2 inline-link">meetup.com</a>
        </div>
        <div class="meetups-container" onclick="window.open('https://www.meetup.com/terra10/events/266561970/', '_blank')">
            <div class="meetup">
                <div class="date-block">
                    <div class="day-display">17</div>
                    <div class="month-display">Dec</div>
                </div>
                <div class="meetup__content">
                    <div class="meetup__title">Codefest AWS Fargate with AWS App Mesh</div>
                    <div class="meetup__description">Join us for this hands-on codefest around AWS Fargate and AWS App Mesh.
                        In this workshop we will create an AWS Fargate cluster, deploy an containerised application using features like auto-scaling and self-healing.
                        And use AWS App Mesh, which is based on the envoy proxy data plane, to monitor your distributed application.<br></div>
                </div>
            </div>
        </div>
    </div>
</div>